<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="main.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<title>Farmer's Market Search</title>
</head>
<body>
	<h1>Farmer's Market Search</h1>
	<div class="background">
		<div id ="index" class="transbox">
	<p>
		Enter a zipcode to find the nearest Farmer's Markets!
	</p>
	
			<form action="search" method="get">
				<!-- <label>Zipcode:</label> -->
				<input type="text" name="zipcode" placeholder="zipcode" autofocus=true>
				<!-- <input type="submit" value="Submit"> -->
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>
